<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hu.ait.aittime">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"> <!-- the name of the activity, dot for referring to the root package name -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" /> <!-- entry point of the app -->

                <category android:name="android.intent.category.LAUNCHER" /> <!-- app is listed in the launcher -->
            </intent-filter>
        </activity>
    </application>

</manifest>